In [1]:
import requests
import pandas as pd
import datetime as dt

### LDO

In [2]:
token_id='lido-dao'

In [3]:
twap_time=14

In [4]:
start = pd.Timestamp((pd.Timestamp.now() - pd.Timedelta(days=twap_time)).strftime("%Y-%m-%d")).timestamp()
finsh = pd.Timestamp(pd.Timestamp.now().strftime("%Y-%m-%d")).timestamp()

In [5]:
response= requests.get('https://api.coingecko.com/api/v3/coins/{}/market_chart/range?vs_currency=usd&from={}&to={}'.format(token_id,start,finsh))
r=response.json()

In [6]:
df = pd.DataFrame(r, columns=['prices'])
df = pd.DataFrame(df['prices'].to_list(), columns=['date','prices'])
df.head()

            date    prices
0  1642724557185  2.160210
1  1642728158337  2.163096
2  1642731823710  2.082390
3  1642735320259  2.072863
4  1642738571866  2.017946

In [7]:
df['date']= pd.to_datetime(df['date'], unit='ms')
df['date']= df['date'].dt.date
df.head()

         date    prices
0  2022-01-21  2.160210
1  2022-01-21  2.163096
2  2022-01-21  2.082390
3  2022-01-21  2.072863
4  2022-01-21  2.017946

In [8]:
df_1=df.groupby('date').agg({'prices':'mean'})
df_1

              prices
date
2022-01-21  2.038480
2022-01-22  1.803894
2022-01-23  1.716416
2022-01-24  1.550872
2022-01-25  1.632865
2022-01-26  1.611285
2022-01-27  1.719232
2022-01-28  1.585417
2022-01-29  1.714146
2022-01-30  1.791296
2022-01-31  1.935712
2022-02-01  2.027267
2022-02-02  2.048089
2022-02-03  1.963458

In [9]:
twap_ldo = (df_1.prices.sum()/twap_time).round(2)
twap_ldo

1.8

### Ethereum

In [10]:
token_id='ethereum'

In [11]:
twap_time=14

In [12]:
start = pd.Timestamp((pd.Timestamp.now() - pd.Timedelta(days=twap_time)).strftime("%Y-%m-%d")).timestamp()
finsh = pd.Timestamp(pd.Timestamp.now().strftime("%Y-%m-%d")).timestamp()

In [13]:
response= requests.get('https://api.coingecko.com/api/v3/coins/{}/market_chart/range?vs_currency=usd&from={}&to={}'.format(token_id,start,finsh))
r=response.json()

In [14]:
df = pd.DataFrame(r, columns=['prices'])
df = pd.DataFrame(df['prices'].to_list(), columns=['date','prices'])

In [15]:
df['date']= pd.to_datetime(df['date'], unit='ms')
df['date']= df['date'].dt.date

In [16]:
df_1=df.groupby('date').agg({'prices':'mean'})

In [17]:
twap_eth = (df_1.prices.sum()/twap_time).round(2)
twap_eth

2560.15